@import url(./reset.css);

/*-------------------------- Container Rules --------------------------*/

.container {
    width: min(100% - 30px, 330px);
    margin-inline: auto;
}

/*-------------------------- Body BG --------------------------*/

body {
    background-color: #40e0d0;
    height: auto;
}

/*-------------------------- Title --------------------------*/

h2 {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
}

/*-------------------------- Title --------------------------*/

.description {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
}

/*-------------------------- Retry Button --------------------------*/

#retry {
    background-color: #fff;
    position: fixed;
    top: 30px;
    right: 40px;
    border-radius: 10px;
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #40e0d0;
    display: none;
}

/*---------------------------- Guess Count ----------------------------*/

.guess-count {
    height: 25px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

/*--------------------- Number Display and Input ---------------------*/

.numb {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    margin: 30px auto;
    line-height: 150px;
    text-align: center;
    color: #40e0d0;
    font-size: 90px;
    font-weight: 600;
    cursor: pointer;
}

#guess-inp {
    display: block;
    height: 40px;
    width: 300px;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}