@import url(./reset.css);

/*-------------------------- Container Rules --------------------------*/

.container {
    width: min(100% - 30px, 330px);
    margin-inline: auto;
}

/*-------------------------- Body BG --------------------------*/

body {
    background-color: #40e0d0;
    height: auto;
}

/*-------------------------- Title --------------------------*/

h2 {
    color: #fff;
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
    font-size: 30px;
}

/*-------------------------- Retry Button --------------------------*/

#retry {
    background-color: #fff;
    position: fixed;
    top: 30px;
    right: 40px;
    border-radius: 10px;
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #40e0d0;
}

/*--------------------- Number Display and Input ---------------------*/

